/.idea
/.vscode
/.vs
*.exe
*.out
*.txt
/docs
tests/tests

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
